header {
position: sticky;
top: 0;
background: red;
display: flex;
flex-flow: row nowrap;
justify-content: space-between;
box-shadow: 2px 2px 5px rgb(51, 51, 51);
}

header div {
  background: lightgreen;
}

header nav {
  background: chocolate;
}

header img {
  width: 100px;
  padding: 10px;
}