nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  background: #ffef14;
  width: 70px;
  margin-left: 2px;
  text-align: center;
  font-size: 0.7rem;
}

nav ul li a {
  font-weight: bold;
  color: #0b4b19;
  display: inline-block;
  width: 100%;
  height: 100%;
}